<div class="jumbotron">
  <%= render "partial/navbar" %>
    <div class="container">
      <div class="row">
        <h2  class="col-md-6 col-md-offset-3 text-center">Alumni system </h2>
      </div>
    </div>
</div>
